body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    background-color: #112D4E;
    position: fixed; 
    top: 0;
    left: 0;
    width: 240px;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: rgb(0, 38, 82);
    color: #fff;
}

.main-content {
    margin-left: 240px; 
    padding: 2rem;
}
